#container { 
    width : 700px;
    margin : 0 auto 0 auto;
    padding-bottom : 30px;
}

#quicklinks, 
#searchbox, 
#toolbox { text-align : right; }

#searchbox { position : fixed; top : 35px; right : 20px;  }

#quicklinks a, #toolbox a { margin-left : 10px ; font-size : 14px; padding : 3px; }


#toc { 
    position : fixed;
    top : 80px;
    right : 20px;
    padding: .5em 1em;
    border: 1px outset #ddc;
    background: #ffd;
}

#toc ul { 
    list-style : none; 
    /* fix it on webkit */
    -webkit-padding-start: 0px;
    /* fix it on Gecko */
    padding-left : 0px;
}

#toc a { display : block; }

/* #toc .h1 { padding-left : 0px; } */
#toc .h2 { padding-left : 0em; }
#toc .h3 { padding-left : 1em; }
#toc .h4 { padding-left : 2em; }
#toc .h5 { padding-left : 3em; }
#toc .h6 { padding-left : 4em; }

#title { margin-top : 40px; }
#content {  margin-top : 40px; }


pre {
    background: none repeat scroll 0 0 #F7F7F7;
    border: 1px solid #D7D7D7;
    margin: 1em 1.75em;
    overflow: auto;
    padding: 0.25em;
}
